doctype html
<html>
    head
        meta(charset='utf-8')/
        title Index
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="icon" href="https://i.gyazo.com/4eaf863d8759457ccfcbc72ad2f27d4f.png" type="image/png" sizes="16x16">
    body
        p #{'Dias entrenados: ' + daysTrained}
        <h2> Jugadoras </h2>
            div
                each value, index in showplayer
                            if value.Nombre
                                <input style = "margin:1em" class="btn btn-primary" type="button" onclick="window.location.href=`/jugadora/#{value.Numero}`;" value=" #{value.Nombre + ' (' + value.Numero + ')'}" />
        <h2> Todos los datos </h2>
            div
                ul
                    each value, index in rowData
                        if value.Nombre
                            li #{value.Fecha + ':' + value.Nombre + '(' + value.Numero + ')' + '->' + value.Nivel_de_cansancio}
                hr
        p 
            a(href='/form') Crear Nuevo
</html>