<html>
    head
        meta(charset='utf-8')/
        title Index
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    body
        a(href='/') Menu
        <h2> #{player[0].Nombre} </h2>
        p Entradas #{player.length}
            div
                ul
                    each value, index in player
                        if value.Nombre
                            <li> #{value.Fecha + '   ' + value.Momento_del_entreno + '-> Cansancio: ' + value.Nivel_de_cansancio} </li>
                hr
        p 
</html>